{% load static %}

<!-- #21 google font, icons, js, css, boostrap  -->
<!-- #22 style.css  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description" content="Travel website about attractions and places to rest in Hamburg, Germany">
    <meta name="keywords" content="Hamburg atrractions, Hamburg parks, Hamburg museums"> -->

    <!-- favicons -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest"> -->
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&family=Young+Serif&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/590214f475.js" crossorigin="anonymous"></script>

    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Delicious recipes</title>

    <!-- https://unsplash.com/photos/uQs1802D0CQ -->
</head>
<body class="h-100">
    <!-- 46 add login/logout if statments and urls to log <a> ({% url 'account_login' %})-->
      <!-- 47 add user greetings html and css -->
    <!-- 23 add and edit navbar -->
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="{% url 'home' %}"><h1>Delicious recipes</h1></a>
          <button class="navbar-toggler toggler-special" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <!-- 46 -->
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbar-button" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  User Menu
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'profile_page' %}">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'recipe_create' %}">Add Post</a></li>
                  <!-- 73 -->
                </ul>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link navbar-button" href="{% url 'contact' %}">Contact Us</a>
              </li>
              {% else %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbar-button" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sign Up//Login
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sing Up</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                </ul>
              </li>
              {% endif %}
              
            </ul>
          </div>
        </div>
      </nav>

      <!-- 66 -->
      <!-- 67 js -->
      <div class="container messages-container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="messages" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

<!-- #32 main-container -->
    <main class="main-bg main-body">
      <!-- #47 -->
      <!-- #48
      cp -r /workspace/.pyenv_mirror/user/current/lib/python3.11/site-packages/allauth/templates/* ./templates/allauth/
      or
      cp -r /workspace/.pyenv_mirror/user/current/lib/python3.12/site-packages/allauth/templates/* ./templates/
      -->
      <!-- 49 templates/account/login.html -->
    {% if user.is_authenticated %}
      <div class="user-greeting">
            <span>you login as <strong>{{ user }}</strong></span>
      </div>    
    {% endif %}

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <footer class="mt-auto footer-section bg-dark footer" >
        <h2 class="m-0 text-center text-white">Visit our social plattforms</h2>
        <p class="m-0 text-center text-white">to find more delicious recipes</p>
        <div class="social-links text-center">
            <a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit out Facebook page (open in a new tab)"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit out Instagram page (open in a new tab)"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com" target="_blank" rel="noopener" aria-label="Visit out Twitter page (open in a new tab)"><i class="fa-brands fa-square-twitter"></i></a>
        </div>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>